---
import Badge from '@/components/Badge.astro';
import '../styles/global.css';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Max Manuel">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-5xl font-bold flex flex-row gap-x-4 mb-2">
        Hey, soy Max Manuel <div class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div>
      </h1>
      <h2 class="text-xl">
        +5 años de experiencia. Desarrollador Web y Administrador de empresas. De Lima, Perú. Especializado en crear
        aplicaciones web robustas y escalables.
      </h2>
    </section>
  </main>
</Layout>
<style></style>
